<html>
  <body>

<p>

<% unless @workstations == Array.new -%>
    <table border="1" style="width:50%">
      <tr>
        <th>Workstation Name</th>
        <th>Public IP Address</th>
      </tr>
      <% @w_count = 0 -%>
      <% @workstations.each do |workstation| -%>
      <tr>
        <td><%= "Workstation-#{@w_count += 1}" %></td>
        <td><%= workstation['ec2']['public_ipv4'] %></td>
      <%end -%>
      </tr>
    </table>
<% end -%>

<p>

<% unless @node1s == Array.new -%>
    <table border="1" style="width:50%">
      <tr>
        <th>Node1 Name</th>
        <th>Public IP Address</th>
        <th>Platform Family</th>
      </tr>
      <% @n1_count = 0 -%>
      <% @node1s.each do |node1| -%>
      <tr>
        <td><%= "Node1-#{@n1_count += 1}" %></td>
        <td><%= node1['ec2']['public_ipv4'] %></td>
        <td><%= node1['platform_family'] %></td>
      <%end -%>
      </tr>
    </table>
<% end -%>

<p>

<% unless @node2s == Array.new -%>
    <table border="1" style="width:50%">
      <tr>
        <th>Node2 Name</th>
        <th>Public IP Address</th>
        <th>Platform Family</th>
      </tr>
      <% @n2_count = 0 -%>
      <% @node2s.each do |node2| -%>
      <tr>
        <td><%= "Node2-#{@n2_count += 1}" %></td>
        <td><%= node2['ec2']['public_ipv4'] %></td>
        <td><%= node2['platform_family'] %></td>
      <%end -%>
      </tr>
    </table>
<% end -%>

<p>

<% unless @node3s == Array.new -%>
    <table border="1" style="width:50%">
      <tr>
        <th>Node3 Name</th>
        <th>Public IP Address</th>
        <th>Platform Family</th>
      </tr>
      <% @n3_count = 0 -%>
      <% @node3s.each do |node3| -%>
      <tr>
        <td><%= "Node3-#{@n3_count += 1}" %></td>
        <td><%= node3['ec2']['public_ipv4'] %></td>
        <td><%= node3['platform_family'] %></td>
      <%end -%>
      </tr>
    </table>
<% end -%>

<p>

<% unless @chefserver == Array.new -%>
    <table border="1" style="width:50%">
      <tr>
        <th>Chef Server Name</th>
        <th>Public IP Address</th>
      </tr>
      <% @chefserver.each do |server| -%>
      <tr>
        <td><%= "Chef Server" %></td>
        <td><%= server['ec2']['public_ipv4'] %></td>
      <%end -%>
      </tr>
    </table>
<% end -%>

  </body>
</html>
