<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://style.chef.io/dist/0.1.8/javascripts/vendor/modernizr.js"></script>
    <link rel="stylesheet" href="https://style.chef.io/dist/0.3.0/stylesheets/chef.css">
  </head>
  <style>
    body {
      background-color: #ffffff;
    }
  </style>
  <body>
    <a class="logo"></a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js"></script>
    <script src="https://style.chef.io/dist/0.3.0/javascripts/chef.js"></script>
    <script>
      $(document).chef({
        assets: {
          images: 'https://style.chef.io/assets/images'
        }
      });
    </script>

    <img src="https://www.chef.io/images/logo.svg" align="center">
    <h1>Welcome to <%= node['chef_classroom']['class_name'] -%></h1>

    <hr>

    <h2>Available Instructor Actions</h2>
    <p>
      <button type="button" class="button secondary tiny" onclick="alert('This would execute chef-client -z -r recipe[chef_classroom::deploy_workstations]')">Click to deploy student workstations</button>
      <button type="button" class="button secondary tiny" onclick="alert('This would execute chef-client -z -r recipe[chef_classroom::destroy_workstations]')">Click to destroy student workstations</button>
      <button type="button" class="button secondary tiny" onclick="alert('This would execute chef-client -z -r recipe[chef_classroom::deploy_first_nodes]')">Click to deploy first standalone nodes</button>
      <button type="button" class="button secondary tiny" onclick="alert('This would execute chef-client -z -r recipe[chef_classroom::deploy_first_nodes]')">Click to deploy multi node environment</button>
    </p>
    <p>
      <button type="button" class="button secondary tiny" onclick="alert('This would execute chef-client -z -r recipe[chef_classroom::_refresh_portal]')">Click to refresh the portal web pages</button>
    </p>
      <button type="button" class="button secondary tiny" onclick="alert('This would execute chef-client -z -r recipe[chef_classroom::destroy_all]')">Click to destroy the entire lab environment</button>
    </p>

    <hr>

    <h2>List of student machines</h2>
    <h4>For direct console access to student nodes/workstations, go to the <a href="http://<%= node['ec2']['public_ipv4'] -%>:8080/guacamole">guacamole console</a>.</h4>

    <% unless @workstations == Array.new -%>
        <table border="1" style="width:50%">
          <tr>
            <th>Workstation List</th>
            <th>Public IP Address</th>
          </tr>
          <% @w_count = 0 -%>
          <% @workstations.each do |workstation| -%>
          <tr>
            <td><%= "Workstation-#{@w_count += 1}" %></td>
            <td><%= workstation['ec2']['public_ipv4'] %></td>
          <%end -%>
          </tr>
        </table>
    <% end -%>

    <p>

    <% unless @node1s == Array.new -%>
        <table border="1" style="width:50%">
          <tr>
            <th>Node1 List</th>
            <th>Public IP Address</th>
            <th>Platform Family</th>
          </tr>
          <% @n1_count = 0 -%>
          <% @node1s.each do |node1| -%>
          <tr>
            <td><%= "Node1-#{@n1_count += 1}" %></td>
            <td><%= node1['ec2']['public_ipv4'] %></td>
            <td><%= node1['platform_family'] %></td>
          <%end -%>
          </tr>
        </table>
    <% end -%>

    <p>

    <% unless @node2s == Array.new -%>
        <table border="1" style="width:50%">
          <tr>
            <th>Node2 List</th>
            <th>Public IP Address</th>
            <th>Platform Family</th>
          </tr>
          <% @n2_count = 0 -%>
          <% @node2s.each do |node2| -%>
          <tr>
            <td><%= "Node2-#{@n2_count += 1}" %></td>
            <td><%= node2['ec2']['public_ipv4'] %></td>
            <td><%= node2['platform_family'] %></td>
          <%end -%>
          </tr>
        </table>
    <% end -%>

    <p>

    <% unless @node3s == Array.new -%>
        <table border="1" style="width:50%">
          <tr>
            <th>Node3 List</th>
            <th>Public IP Address</th>
            <th>Platform Family</th>
          </tr>
          <% @n3_count = 0 -%>
          <% @node3s.each do |node3| -%>
          <tr>
            <td><%= "Node3-#{@n3_count += 1}" %></td>
            <td><%= node3['ec2']['public_ipv4'] %></td>
            <td><%= node3['platform_family'] %></td>
          <%end -%>
          </tr>
        </table>
    <% end -%>

    <p>

    <% unless @chefserver == Array.new -%>
        <table border="1" style="width:50%">
          <tr>
            <th>Chef Server Name</th>
            <th>Public IP Address</th>
          </tr>
          <% @chefserver.each do |server| -%>
          <tr>
            <td><%= "Chef Server" %></td>
            <td><a href="https://<%= server['ec2']['public_ipv4'] -%>">
              <%= server['ec2']['public_ipv4'] %></a>
            </td>
          <%end -%>
          </tr>
        </table>
    <% end -%>

  </body>
</html>
